[Unit]
Description=uWSGI instance to serve images_api
After=network.target

[Service]
User=zhiltsov
Group=www-data
WorkingDirectory=/var/projects/visionlabs/test
Environment="PATH=/var/projects/visionlabs/test/venv/bin"
ExecStart=/var/projects/visionlabs/test/venv/bin/uwsgi --ini images_api.ini

[Install]
WantedBy=multi-user.target